.video-manager {
  background: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  max-width: 99%;
  width: 100%;
  padding: 15px 0 !important;
}

.video-manager--reset-style {
  background: transparent;
  box-shadow: none;
  max-width: 100%;
  border-radius: 0;
}

.video-manager__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #707583;
  margin-bottom: 10px !important;
  margin-left: 25px !important;
  cursor: pointer;
}

.video-manager__item:last-child {
  margin-bottom: 0 !important;
}
