.ce-block .upload-video-from-link__input {
  border-color: #ccc;
  border-radius: 4px !important;
  background-color: #ffffff;
  padding: 10px;
  outline: none;
  width: 100%;
  border-style: solid !important;
  border-width: 1px;
}

.ce-block .upload-video-from-link__input::placeholder {
  font-size: 14px;
}

.ce-block .upload-video-from-link__video {
  width: 100%;
  border: 0;
}
