<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@2.18.0"></script>
<script src="videoLink.js"></script>
<link href="videoLink.css" rel="stylesheet" />

<div id="editorjs"></div>

<button id="save-button">Save</button>
<pre id="output"></pre>

<script>
  const editor = new EditorJS({
    autofocus: true,
    tools: {
      videoLink: {
        class: VideoLink
      }
    },

    data: {
      time: 1611836191575,
      blocks: [
        {
          type: 'videoLink',
          data: {
            'url': 'https://i.imgur.com/QBwd3eu.mp4'
          }
        }
      ],
      version: '2.18.0'
    }
  });

  const saveButton = document.getElementById('save-button');
  const output = document.getElementById('output');

  saveButton.addEventListener('click', () => {
    editor.save().then(savedData => {
      output.innerHTML = JSON.stringify(savedData, null, 4);
    });
  });
</script>
