.ce-block__content > .scenario-link__wrapper > ul.scenario-link__list {
  padding: 5px 10px !important;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ccc;
  list-style: none;
}

.scenario-link__item {
  padding: 7px 2px;
  cursor: pointer;
  text-overflow: ellipsis;
  font-size: 12px;
}

.scenario-link__item--empty {
  text-align: center;
}

.scenario-link__item:hover {
  color: #2196f3;
}

.hinted-scenario-link__link {
  color: #2196f3;
  text-decoration: underline;
}

.scenario-link__item--empty:hover {
  color: black;
  cursor: unset;
}

.ce-block__content > .scenario-link__wrapper > input.scenario-link__input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px 4px;
}

.scenario-link__wrapper > .scenario-link__input + .scenario-link__list {
  margin-top: 10px;
}

.scenario-link__item + .scenario-link__item {
  border-top: 1px solid #ccc;
}

.scenario-link__inline-wrapper {
  display: none;
}

.scenario-link__inline-wrapper--showed {
  display: block;
}

.scenario-link__item--active {
  color: #2196f3;
}
