.ce-block__content
  > .scenario-stop-link__wrapper
  > ul.scenario-stop-link__list {
  padding: 5px 10px !important;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ccc;
  list-style: none;
}

.scenario-stop-link__item {
  padding: 7px 2px;
  cursor: pointer;
  text-overflow: ellipsis;
  font-size: 12px;
}

.scenario-stop-link__item--empty {
  text-align: center;
}

.scenario-stop-link__item:hover {
  color: #2196f3;
}

.scenario-stop-link__item--empty:hover {
  color: black;
  cursor: unset;
}

.hinted-scenario-link__stop-link {
  text-decoration: underline;
  font-weight: bold;
}

.ce-block__content
  > .scenario-stop-link__wrapper
  > input.scenario-stop-link__input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px 4px;
}

.scenario-stop-link__wrapper
  > .scenario-stop-link__input
  + .scenario-stop-link__list {
  margin-top: 10px;
}

.scenario-stop-link__item + .scenario-stop-link__item {
  border-top: 1px solid #ccc;
}
