.upload-video__input {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.upload-video__label {
  width: 100%;
  padding: 5px !important;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-video__wrapper {
  position: relative;
  width: 100%;
}

.upload-video__error {
  border-color: darkred;
  color: darkred;
}

.upload-video__error-text {
  color: darkred;
  font-size: 14px;
}
